<style>
	body	{ 
		background-color: blue;
		}

	#cube1 {
		height: 150%;
		background-color: yellow;
		border: 2px solid black;
		}
	#cube2 {
		width: 150%; 
                background-color:red ;
                border: 2px solid black;
                }
	#cube3 {
		height: 110%; 
                background-color: black;
                border: 2px solid white;
                }
	p	{
		 color: skyblue;
		 text-align: center;
		 font-size: 50%;
		}
	h1 	{
		 font-size: 300%;
		 font-family: courier;
		}
	h2      {
                 font-size: 200%;
                 font-family: verdam;
                }

	button	{
		 background-color: grey;
		}
	.lilp	{
		 font-size: 25%;
		 color: black;
		 font-family: arial; 
		}
</style>
